<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CoderDojo - rejestracja</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="{{ url_for('static', filename='jq.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script> 
    <script src="{{ url_for('static', filename='googleMapApi.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1>CoderDojo</h1>
            <img src="{{ url_for('static', filename='cd-logo.png') }}" alt="">
            <h2>Strefa mentora</h2>
        </div>
    </header>   
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Rejestracja</h3>
            </div>
            <div class="col-xs-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <form id="registerForm" method="post">
                        <fieldset class="col-xs-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="registerMode" id="join" value="join" checked>
                                    Chcę prowadzić zajęcia w Dojo zaznaczonym na mapie
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="registerMode" id="sleep" value="sleep">
                                    Poczekam, aż pojawi się możliwość utworzenia Dojo w mojej okolicy
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="col-sm-6">
                            <h4>Dane</h4>
                            <div class="form-group">
                                <label for="login">Login:</label>
                                <input type="text" name="login" class="form-control" id="login" placeholder="jankowalski">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="jan.kowalski@domena.pl">
                            </div>
                            <div class="form-group">
                                <label for="password">Hasło:</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="password-repeat">Powtórz hasło:</label>
                                <input type="password" name="passwordRepeat" class="form-control" id="password-repeat">
                            </div>
                        </fieldset>
                        <fieldset class="col-sm-6">
                            <h4>Umiejętności</h4>
                            <div class="row skills">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Java"> Java
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Python"> Python
                                        </label>
                                    </div>
                                </div> 
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Grafika 2D"> Grafika 2D
                                        </label>
                                    </div>
                                </div>  
                            </div> <!-- /.row -->                            
                        </fieldset>
                        <fieldset class="col-xs-12 info">
                            <h4>Dodatkowe informacje</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remote"> Chcę zdalnie pomagać różnym Dojo z całej Polski
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="experience"> Mam profesjonalne doświadczenie w pracy z dziećmi lub młodzieżą
                                </label>
                            </div>                        
                        </fieldset>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-default">Wyślij</button>
                        </div>                    
                    </form>
                </div> <!-- /.row -->
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
    
    <script src="js/bootstrap.min.js"></script>
</body>
</html>