<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CoderDojo - panel mentora</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css"> 
</head>
<body>
    <header>
        <div class="logo">
            <h1>CoderDojo</h1>
            <img src="img/cd-logo.png" alt="">
            <h2>Strefa mentora</h2>
        </div>
    </header>   
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-12 messages-header">
                        <h3>Wiadomości</h3>
                        <p>Brak nowych wiadomości</p>
                        <p class="new">Liczba nowych wiadomości: 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form id="messageForm" method="post">
                            <select class="form-control" name="target">
                                <option value="Warszawa">Warszawa</option>
                                <option value="Zambrow">Zambrów</option>
                                <option value="Sosnowiec">Sosnowiec</option>
                            </select>
                            <textarea rows="4" name="message"></textarea>
                            <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i> Wyślij</button> 
                        </form> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="message message-new">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                        <div class="message message-new">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                        <div class="message">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                        <div class="message">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                        <div class="message">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                        <div class="message">
                            <h5><i class="fa fa-user"></i> Nadawca</h5>
                            <h5><i class="fa fa-map-marker"></i> Odbiorca (miejscowość)</h5>
                            <h5><i class="fa fa-calendar-o"></i> Data</h5>
                            <h4>Tytuł</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac placerat augue. Donec nec tincidunt magna. Etiam mattis, dui id aliquam mollis, quam purus vestibulum tellus, in convallis nunc purus id lorem. Ut ullamcorper sapien eget iaculis gravida. Integer sit amet ipsum a odio ultricies tempus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 profile-data">
                <p><b>Login:</b> jankowalski</p>
                <p><b>Miejscowość:</b> Warszawa</p>
                <p>Jesteś przypisany do Dojo!</p>
                <p>Nie jesteś przypisany do Dojo.<br>Liczba potencjalnych mentorów w&nbsp;Twojej okolicy: 37248891842</p>   
                <a href="http://localhost:4000/logout" class="btn btn-default">Wyloguj</a>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Miejscowość</th>
                        <th>Potencjalni mentorzy</th>
                    </tr>
                    {{% for place in places %}}
                    <tr>
                        <td>place['Miejscowosc']</td>
                        <td>place['liczba_uspionych']</td>
                    </tr>
                    {{% endfor %}}
                </table>
            </div>
        </div> <!-- /.row -->
    </div>    
    <script src="js/jq.js"></script>  
    <script src="js/bootstrap.min.js"></script>
    <script src="../../static/script.js"></script>
</body>
</html>